* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 400;
  src: url('poppins-v20-latin/poppins-v20-latin-regular.woff');
}

@font-face {
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  src: url('inter-v12-latin/inter-v12-latin-regular.woff');
}

body {
  font-family: 'poppins', sans-serif;
}

header {
  display: flex;
  /*background-color: lightblue;*/
  width: 80%;
  margin: auto;
  height: 10vh;
  align-items: center;
}

nav {
  /*  background-color: lightgreen;*/
  flex: 2;
}

button {
  font-family: 'poppins', sans-serif;
  border-radius: 4px;
  cursor: pointer;
  animation: drop 1.5s ease;
}

.logo-container, .nav-links, .cart {
  display: flex;
}

.logo {
  font-weight: 550;
  margin: 5px;
  padding-top: 7px;
  padding-left: 9px;
  font-size: 20px;
  font-family: 'castellar';
  color: #494964;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
  color: #5f5f79;
}

.nav-link {
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
}

.cart-img {
  width: 50px;
  height: 50px;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

.logo-container {
  /*  background-color: orange;*/
  flex: 1;
}

.presentation {
  display: flex;
  width: 80%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.cover img {
  height: 70vh;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: drop 0.6s ease;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
  animation: drop 1s ease;
}

.cta {
  padding: 50px 0px 0px 0px;
  margin-top: 30px;
  margin-left: 50px;
  padding-left: 30px;
}

.cta-select {
  border: 2px solid #c36cbb;
  color: #c36cbb;
  height: 50px;
  width: 150px;
  font-size: 16px;
  margin-left: 30px;
}

.cta-add {
  background-color: #c36cbb;
  color: white;
  height: 50px;
  width: 150px;
  font-size: 16px;
  border: none;

}
.cta-add: hover{
  background-color: white;
}

.cover {
  flex: 0.5;
}
/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 20%;
 top: 0;
 width: 60%; /* Full width */
 height: 60%; /* Full height */
 overflow: none; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(1,0,0,0.4); /* Black w/ opacity */
animation: modal ease 0.2s;

}
.verified img{
  height: 20%;
  width: 20%
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
 text-align: center;
 border-radius: 4px;

}
.modal-content span, img, p{
  animation: complete ease 1s;
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes drop {
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes modal {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes complete {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


@media screen and (max-width: 1024px){
.presentation{
  flex-direction: column;
}
.introduction{
  margin-top: 5vh;
  text-align: center;
}
.intro-text h1{
  font-size: 30px;
}
.intro-text p{
  font-size: 18px;
}
.cta{
  padding: 10px 0px 0px 0px;
}
.cover img{
  height: 80%
}

}
